h1{
  color:White;
  }
p{
  color:White;
}
header{
  position:fixed;
  width:100%;
  background:red;
  height:145px;
  top:0;
  left:0;
  right:0;
}
nav{
  position:relative;
  width:70%;
  top:0;
  background:blue;
}
aside{
  display:block;
  position:relative;
  top:145px;
  background:blue;
  width:30%;
}

li{
  margin-bottom:10px;
}
img{
  width:20em;
  height:15em;
}
