h1{
  color:red;
  }
body{
  color:

background: rgba(183,222,237,1);

background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 27%, rgba(183,222,237,1) 61%, rgba(183,222,237,1) 100%);

background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(0%, rgba(33,180,226,1)), color-stop(27%, rgba(113,206,239,1)), color-stop(61%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));

background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 27%, rgba(183,222,237,1) 61%, rgba(183,222,237,1) 100%);

background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 27%, rgba(183,222,237,1) 61%, rgba(183,222,237,1) 100%);

background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 27%, rgba(183,222,237,1) 61%, rgba(183,222,237,1) 100%);

background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 0%, rgba(113,206,239,1) 27%, rgba(183,222,237,1) 61%, rgba(183,222,237,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );

Copy text;
}
