h1 {
  color: White;
  margin-left:300px;
}

p {
  color: white;
  margin-left: 10px;
}

header {
  position: fixed;
  width: 100%;
  background: red;
  height: 145px;
  top: 0;
  left: 0;
  right: 10;
}

nav {
  position: relative;
  width: 50%;
  bottom: 2150px;
}

aside {
  display: block;
  position: relative;
  top: 145px;
  width: 40%;
  left: 800px;
}

li {
  margin-bottom: 10px;
}

img {
  width: 25em;
  height: 20em;
}
body{
  background: rgba(11,68,214,1);
  background: -moz-linear-gradient(left, rgba(11,68,214,1) 20%, rgba(21,95,221,1) 58%, rgba(31,121,228,1) 95%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(20%, rgba(11,68,214,1)), color-stop(58%, rgba(21,95,221,1)), color-stop(95%, rgba(31,121,228,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(11,68,214,1) 20%, rgba(21,95,221,1) 58%, rgba(31,121,228,1) 95%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(11,68,214,1) 20%, rgba(21,95,221,1) 58%, rgba(31,121,228,1) 95%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(11,68,214,1) 20%, rgba(21,95,221,1) 58%, rgba(31,121,228,1) 95%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(11,68,214,1) 20%, rgba(21,95,221,1) 58%, rgba(31,121,228,1) 95%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b44d6', endColorstr='#207ce5', GradientType=1 );
}
footer {
  bottom: 2000px;
}
